
 
<div class="ui-widget">
    <!-- <label for="playerNames">HUT Card Search</label> -->
    <input id="playerNames" class="searchBar" placeholder="HUT Card Search">
    <ul id="players"></ul>

  </div>
  <%= console.log(port) %>
  <script>
    
    $(document).ready(function(){
      $("#playerNames").autocomplete({
        source: async function(req, res){
          //const port = process.env.PORT || 3000;
          console.log(" <%= port  %>");
          let data = await fetch(`http://localhost:<%= port %>/search?term=${req.term}`)
          .then(results => results.json())
          .then(results => results.map(result => {
            return {lable: result.playerName, value: `${result.playerName} || ${result.card} || ${result.overall}` , id: result.cardID, card: result};
          }));
          res(data);
        },
        minLength: 3,
        //function is what we want to do with the data, we can save it to a trade block here...
        select: function(event, ui){
            //this will send the selected card to the function...
            updateHUTCard(ui.item.card);
            //console.log(ui.item.card.cardID);
            document.getElementById('cardId').value = ui.item.card._id;
            //console.log(document.getElementById('cardId'));
            
        //   $("#players").append(`<li>${ui.item.card.playerName}</li>`);

          //everything is working, just need to find a way to grab the
          // card id from above and search for that record in mongodb. then i can return the specific card
          //and show the user/ add it to the list of cards.
          //might need to use just the name and show all cards with same name...
          //then they pick the card and a script will auto create the block...
          // console.log(playerCards);
        }
      });
    });
  </script>