<!-- home after login template-->
<%- include ('../partials/header') %>
<div class="container my-5">
    <header style="display: inline-block; width: 100%;">
        <h1>Home</h1>
        <!-- This will check the users type if they are logged in and there is a user type. -->
      <% if(typeof user != "undefined" && authorized){ %>
        <% if(user.userType === "pro"){ %>


          
        <!-- switch for light/dark mode. -->
        <div style="display: inline-block; float: right;">
          <p style="display: inline-block;">Dark Mode</p>

          <label class="switchHome" style="display: inline-block;">
            <input type="checkbox">
            <span class="sliderHome roundHome"></span>
          </label>

          <p style="display: inline-block;">Light Mode</p>
        </div>
        
        <% }%>
        <% }%>
    </header>
    <hr>
   
    <div class="row homeOptionsOne">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body homeOptionCards">
            <h5 class="card-title">The Block</h5>
            <p class="card-text">View all cards on The Block.</p>
            <a href="/trades" class="btn btn-primary">The Block</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body homeOptionCards">
            <h5 class="card-title">My Trading Block</h5>
            <p class="card-text">View all cards on your block.</p>
            <a href="/trades/myblock" class="btn btn-primary">My Block</a>
          </div>
        </div>        
      </div>
    </div>

    <div class="row homeOptionsTwo">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body homeOptionCards">
            <h5 class="card-title">Add to Trading Block</h5>
            <p class="card-text">Place a new card on the block.</p>
            <a href="/trades/new" class="btn btn-primary">New Trade</a>            
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body homeOptionCards">
            <h5 class="card-title">My Offers</h5>
            <p class="card-text">View your offers.</p>
            <a href="/trades/myblock/myoffers" class="btn btn-primary">My Offers</a>
          </div>
        </div>        
      </div>
    </div>



<%- include ('../partials/footer') %>