html,
body {
  height: 100%;
  width: 100%;
}

header:not(.home-cta), .alert {
  margin-top: 80px;
}

.home-cta {
  background: url('/images/background.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x:hidden!important;
  overflow-y:hidden!important;
}

.home-cta::-webkit-scrollbar {
  display: none;
}

.home-cta::after {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  content: "";
}

.home-cta > h1 {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 10rem;
  text-align: center;
  z-index: 1;
}


/* nav link buttons once logged in */
.dropdown-menu.extraLinks{
  min-width: 8rem!important;
}

.nav-link.extraLinks:hover{
  background-color: antiquewhite;
}

/* .btn.btn-secondary.dropdown-toggle.extraLinks{
  max-height: ;
} */

/* Trade home options */
.row.homeOptionsTwo{
  margin-top: 2vh;
}

.card-body.homeOptionCards{
  min-height: 8vh;
}

#playerNames.searchBar{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNames2{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNames3{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNames4{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNames5{
  width: 100%;
  text-align: center;
  display: block;
}


#playerNamesO2{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNamesO3{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNamesO4{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNamesO5{
  width: 100%;
  text-align: center;
  display: block;
}

.row.hutCard{
  border-style: solid;
  border-width: 1;
}

.col.hutCardItem{
  font-weight: 600;
}





#tradeTypeLable{
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}
#tradeTypeDiv{
  display: inline;
  float: left;
}
#tradeTypeDiv2{
  display: inline;
  float: right;
}

#tradeTypeForm{
  border-style: solid;
  border-width: 1;
}


#cardListItem1{
  display: none;
}


#input-txt-bin {
  width: 0;
  transition: width 1s ease-in;
}

#input-txt-bin.active {
  width: 250px;
}

.switch-toggle {
  /* width: 10em; */
}

.switch-toggle label:not(.disabled) {
  cursor: pointer;
  color: black;
}

.switch-candy input:checked + label{
  /* opacity:0.4; */
  /* color: black; */
  border-style: solid;
  border-width: 3;
}

.showCard {
  display: none;
}

.showCardName:hover .showCard {
  display: block;
  z-index: 1000;
  background-color: #f8f8ff;
  font-size: 2vh;
  
}

.showCardNameL:hover .showCard {
  display: block;
  z-index: 1000;
  background-color:#f8f8ff;
  font-size: 2vh;
  overflow: hidden;
  
}

.hutCardShortL{
  border-style: solid;
  border-width: 1;
  background-color:#f8f8ff;
  font-size: 1.5vh;
}

.hutCardShort{
  border-style: solid;
  border-width: 1;
  background-color:#f8f8ff;
}



.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-item.onhoverDIO:hover{
  background-color: #DCDCDC;
}

#offerForSearch{
  display: none;

}

#offerCoinsForSearch{
  display: none;
}

#coinsOfferInput{
  width: 100%;
  text-align: center;
  display: block;
}


#offerSubmitButton{
  display: none;
}


.tradeTabs{
  width: 5em;
  display: inline-block;
  border-style: solid;
  border-width: 2;
  border-color: #915c83;
  border-radius: 5px;
  background-color:#f0ead6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: .25em;
  color: black;
}

.tradeOfferSlab{
  display: block;
  float: left!important;
  color: green;
}

.cardTempOfferCard{
  display: none;
}

.cardOfferTitle{
  font-weight: 600;
  text-align: center;
}

