html,
body {
  height: 100%;
  width: 100%;  
  overflow-x: hidden;
}

header:not(.home-cta), .alert {
  margin-top: 80px;
}

.home-cta {
  background: url('/images/background.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x:hidden!important;
  overflow-y:hidden!important;
}

.home-cta::-webkit-scrollbar {
  display: none;
}

.home-cta::after {
  position: absolute;
  /* background: rgba(0, 0, 0, 0.5); */
  height: 100%;
  width: 100%;
  content: "";
}

.home-cta > h1 {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 10rem;
  text-align: center;
  z-index: 1;
}


/* nav link buttons once logged in */
.dropdown-menu.extraLinks{
  min-width: 8rem!important;
}

.nav-link.extraLinks:hover{
  background-color: antiquewhite;
}

/* .btn.btn-secondary.dropdown-toggle.extraLinks{
  max-height: ;
} */

/* Trade home options */
.row.homeOptionsTwo{
  margin-top: 2vh;
}

.card-body.homeOptionCards{
  min-height: 8vh;
}



/* All player search bars styles below  */
#playerNames.searchBar{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNames2{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNames3{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNames4{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNames5{
  width: 100%;
  text-align: center;
  display: block;
}

#playerNamesO2{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNamesO3{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNamesO4{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNamesO5{
  width: 100%;
  text-align: center;
  display: block;
}

.row.hutCard{
  border-style: solid;
  border-width: 1;
}

.col.hutCardItem{
  font-weight: 600;
}
/* All player search bars styles Above  */



/* The trade type title when making a new offer */
#tradeTypeLable{
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}
/* on the block div */
#tradeTypeDiv{
  display: inline;
  float: left;
}
/* looking for div */
#tradeTypeDiv2{
  display: inline;
  float: right;
}


#tradeTypeForm{
  border-style: solid;
  border-width: 1;
}

/* hides at first */
#cardListItem1{
  display: none;
}

/* coins input box */
#input-txt-bin {
  width: 0;
  transition: width 1s ease-in;
}

#input-txt-bin.active {
  width: 250px;
}

.switch-toggle label:not(.disabled) {
  cursor: pointer;
  color: black;
}

.switch-candy input:checked + label{
  border-style: solid;
  border-width: 3;
}
/* coins input box */


/* hide at first */
.showCard {
  display: none;
}


.showCardNameShow{
  text-align: center;
}



/*  */
.showCardName:hover .showCard {
  display: block;
  z-index: 1000;
  background-color: #f8f8ff;
  font-size: 2vh;
  
}

/* background of div of small info card of players on trade offer pages */
.showCardNameL:hover .showCard {
  display: block;
  z-index: 1000;
  /* background-color:#f8f8ff; */
  font-size: 2vh;
  overflow: hidden;
  
}

/* Background of table of small info card of players on trade offer pages */
.hutCardShortL{
  border-style: solid;
  border-width: 1;
  background-color:#f8f8ff;
  font-size: 1.5vh;
  margin-top: .85vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 2em;  
  font-size: 1.3vw;
}

/* Background of table of small info card of players on trade offer pages for the requested cards */
.hutCardShortLr{
  border-style: solid;
  border-width: 1;
  background-color:#f8f8ff;
  font-size: 1.5vh;
  margin-top: .35vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 2em;  
  font-size: .7vw;
}

/* Background of table of big info card of main player on trade offer pages */
.hutCardShort{
  border-style: solid;
  border-width: 1;
  background-color:#f8f8ff;
}



.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-item.onhoverDIO:hover{
  background-color: #DCDCDC;
}

/* this is the players offer box, hidden at first */
#offerForSearch{
  display: none;
}
/* this is the coins offer box, hidden at first */
#offerCoinsForSearch{
  display: none;
}


/* input of coins area on offer pages when offering coins */
#coinsOfferInput{
  width: 100%;
  text-align: center;
  display: block;
}


/* submit button on offer pages when offering players or coins. */
#offerSubmitButton{
  display: none;
}


/* Main displays of the trade tabs on the offer pages. This is changed below */
.tradeTabs{
  width: 5em;
  display: inline-block;
  border-style: solid;
  border-width: 2;
  border-color: #5C5F58;
  border-radius: 5px;
  background-color:#DCE1E3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: .25em;
}

.tradeOfferSlab{
  display: block;
  float: left!important;
  color: green;
}


/* The offer cards to start are off */
.cardTempOfferCard{
  display: none;
}

/* After offer opens, its the players names / coins amount in the offer section */
.cardOfferTitle{
  font-weight: 600;
  text-align: center;
}

/* Style for the Trade Offer Cards on the Show Pages. */
.tradeOfferCards{
  /* color: green; */
  width: 65vw;
  /* margin: 1.3em; */
  /* margin-right: 3em;  */
  float: left;
}
/* Style for the Trade Offer Cards Title on the Show Pages. */
.tradeOfferCardsTitle{
  /* color: green; */
  height: 2.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Style for the Trade Offer Cards Title on the Show Pages. */
.tradeOfferCardsSmallTitle{
  /* color: green; */
  margin-left: 1em;
}

/* Style for the trade talk title text */
.tradeOfferCardsTitleTalk{
  height: 1.25em;
  margin-left: 1em;
}
/* Style for the trade offer title names */
.tradeOfferCardsNames{
  width: 65vw;
  margin: 1.2em;
  margin-top: 1.3em;
  float: left;
  margin-left: 0;
}
/* Style for the trade offer title names - when its the users own trade offers */
.tradeOfferCardsNamesMy{
  width: 65vw;
  margin: 1.2em;
  margin-top: 1.3em;
  margin-bottom: 0em;
  float: right;
  border: none;
}
/* Style for the trade offer title names - button styles */
.tradeOfferCardsNamesButton{
  /* color: blue; */
  background-color: #f2f2f2;
  border: 2px solid #dadada;
  border-radius: 7px;
  /* font-size: ; */
  width: 100%;
  height: 2em;

}
.tradeOfferCardsNamesButton:focus{
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}



/* Style for the playerImages on trade block */
.playerImages{
  height: 285px;
  width: 200px;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Style for the player names and card type and overall on trade block page  */
.playerNamesInfo{
  font-size: 1em;
  text-align: center;
  height: 3em;
}

hr.playerNamesInfohr{  
  margin-top: .5em;
  margin-bottom: .5em;
}

/* Style for the "BY" name on the trade block */
.byNameTradeBlock{
  font-size: .65em;
}

/* Styling for the full card-body of the player cards on the trade block */
.playerCards{
  padding: .75em;
  padding-left: 2em;
  padding-right: 2em;
}

/* Styling for the card text on the tradeblock */
.card-text{
  font-size: 1em;
}
.card-text-time{
  font-size: .65em;
}

/* Style for the outter and full card on trade block */
.card.fullTradeCards{
  vertical-align: top;
   height: auto;
  width: auto;
 /* margin: auto; */
  margin-top: 1em; 
  display:inline-block;
  /* max-width: 30%; */
}



/* This style is for the title / looking for ontheblock / on the show pages. */
.card-title-show{
  text-align: center;
}

/* Card name and ovr and type on show pages */
.showCardName{
  text-align: center;
}

/* styles for the requested cards name ovr and type on show pages */
.showCardNameInfo{
  font-size: .90vw;
  white-space: nowrap;
  overflow: hidden; 
  text-align: center;
}

/* style for the play images of the requested cards on the show pages */
.playerImagesRequested{
  height: auto;
  width: 25%;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: left;
  padding-right: .2em;
  margin-bottom: 1em;
}

/* style for the play images of the offered cards on the show pages */
.playerImagesOffer{
  height: auto;
  width: 18vw;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: left;
  padding-right: 2em;
  padding-left: 2em;
  margin-bottom: 1em;
  margin-top: 2.25vw;
}

/* Style for when showing the owner his offers on the show pages */
.card-title-tradeOffers{
  margin-bottom: 0;
  height: 2.25em;
}

/* styles for the whole content area on the trade block */
.content.cardLayout{
  /* text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines; */
  float: left;
  padding-left: 2vh;
}

/* styles for the logged in buttons on the trade block/ complete/delete */
.buttonOptionsTB{
  height: auto;
  width: 25%;
  size: 10%;
}
.buttonOptionsTBc{
  height: auto;
  width: 25%;
  size: 10%;
  float: right;
  margin-top: .75vh;
}


/* Style for content area on show pages. */
.content.contentShow{
  width: 100%;
}


/* all below is styling for the content cards on the show pages */
.card.mainPlayerCard{
  width: 25vw;
  margin: 1.3em;
  float: left;
}

.card.leftSpace{
  width: 2vw;
  float: left;
  visibility: hidden;
  /* height: 100vh; */
}

.card.offerCardOnF{
  width: 65vw;
  margin: 1.3em;
  float: right;
}

.card.tradeSideCards{
  width: 60.5vw;
  margin: 1.3em;
  float: left;
}

.card.cardTempOfferCard.tradeOfferCards{
  /* width: 65vw;
  margin: 1.2em;
  margin-top: 1.3em;
  margin-bottom: 0em;
  
  border: none; */
  margin-top: 1em;
  /* margin-left: 30vw; */
  float: right;
  margin-right: 3.25vw;
}

.card.cardTempOfferCard.tradeOfferCards.tempOf{
  margin-right: 4.25vw;
  /* margin-right: 3.25em; */
}

/* Style for the currently on ps/xbox text on index/tradeblock page */
.card-text.currently{
  font-size: .9em;
}

/* all below is styling for the content cards on the show pages */
/* CSS that should be displayed if width is equal to or less than 1120px goes here */
@media (max-width: 1120px) {
  .card.mainPlayerCard{
    width: 80vw;
    margin: 1.3em;
    float: left;
  }
  
  .card.leftSpace{
    width: 10vw;
    float: left;
    visibility: hidden;
  }
  
  .card.offerCardOnF{
    width: 80vw;
    margin: 1.3em;
    float: left;
  }
  
  .card.tradeSideCards{
    width: 80vw;
    margin: 1.3em;
    float: left;
    margin-left: 12.5vw;
  }
  .card.tradeOfferCardsNamesMy{
    width: 80vw;
    margin: 1.3em;
    margin-left: 12vw;
  }
  .card.cardTempOfferCard.tradeOfferCards{
    width: 80vw;
    /* margin: 1.3em; */
    /* margin-left: 10vw; */
    float: left;
  }
  .playerImagesOffer{
    width: 20vw;
    padding-left: .5em;
    padding-right: .5em;
    margin-top: 0;
  }
  .tradeOfferCardsNamesMy{
    float: none;
  }
  .card.tradeOfferCardsNames{
    width: 80vw;
    margin: 1.3em;
    margin-left: 12.5vw;
  }
  .card.offerCardOnF{
    margin-left: 12vw;
  }
  .card.cardTempOfferCard.tradeOfferCards.tempOf{
    margin-left: 12.5vw;    
  }


/* Background of table of small info card of players on trade offer pages for the requested cards */
.hutCardShortLr{
  border-style: solid;
  border-width: 1;
  background-color:#f8f8ff;
  font-size: .5em;
  margin-top: .35vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 2em;  
  /* font-size: .7vw; */
}

.showCardNameInfo{
  font-size: 1em;
}

.card.tradeSideCards{
  margin-left: 0;
}



.navPage{
  font-size: 1.5em;
  text-align: center;
}



  
}

/* Style for theblock page title */
.theBlockTitle{
  text-align: center;
  cursor: pointer;
}

/* style for search title on console pages */
.theBlockTitleSearch{
  font-size: 1em;
  text-align: center;
}

.theBlockconsole{
  font-size: 1em;
}

/* Style for the header of the block page */
.container.my-5.theBlock{
  text-align: center;
}

/* Style below is for the spinning xbox logo */
.xboxLogo{
  text-align: center;
  display: inline-block;
  background-color: black;
  height: 5em;
  width: 5em;
  margin: 2em;
  background: url('/images/xboxL.png');
  background-position: center;  
  background-size: contain;  
  background-repeat: no-repeat;
  cursor: pointer;
}

.xboxLogoPage{
  text-align: center;
  display: inline-block;
  background-color: black;
  height: 5em;
  width: 5em;
  background: url('/images/xboxL.png');
  background-position: center;  
  background-size: contain;  
  background-repeat: no-repeat;
}

.psLogo{
  text-align: center;
  display: inline-block;
  background-color: black;
  height: 5em;
  width: 5em;
  margin: 2em;
  background: url('/images/psL.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.psLogoPage{
  text-align: center;
  display: inline-block;
  background-color: black;
  height: 5em;
  width: 5em;
  background: url('/images/psL.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}



/* The below styles are for pagenation */
/* .pagination a.active {
  background-color: #4CAF50;
  color: white;
  width: 2vw;
  height: 2vw;
}

.pagination a:hover:not(.active) {background-color: #ddd;} */




/* styles for upgrading account pages below */
#upgradePageBody{
  width: 100vw;
}
.card.upgradeAccountHeaders{
  /* background-color: black; */
  font-size: 1vw;
  width: 24vw;
  padding: 1em;
}
.card.upgradeAccountHeadersSuccess{
  /* background-color: black; */
  font-size: 1vw;
  width: 50vw;
}
#firstCardUpgrade{
  margin-right: 2vw;
}
.upgradeAccountHeadersTitle{
  font-size: 2vw;
  text-align: center;
  margin-top: 1em;
}
.upgradeAccountHeadersTitleSuccess{
  font-size: 2vw;
  text-align: center;
  margin-top: 1em;
}
.upgradeButton{
  text-align: center;
}


/* CSS that should be displayed if width is equal to or less than 1120px goes here */
@media (max-width: 1120px) {
  .card.upgradeAccountHeaders{
    width: 50vw;
    float: left;
  }
}





/* Styles below are for the slider on the index/home page when logged in. */
/* The switch - the box around the slider */
.switchHome {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switchHome input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.sliderHome {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderHome:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderHome {
  background-color: #2196F3;
}

input:focus + .sliderHome {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderHome:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.sliderHome.roundHome {
  border-radius: 34px;
}

.sliderHome.roundHome:before {
  border-radius: 50%;
}




/* Style for the counter on the home apge. */
.numberOfTrades{
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 1em;
}


/* Style for the header area in the home of a logged in user. */
.homeHeader{
  display: inline-block;
  width: 100%;
  margin-top: 1em!important;
}

/* Styles for pagination */
/* .pagination {
  text-align: center;
} */




.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color .3s;
  border: 1px solid #313131; /* Gray */
  margin: 0 4px; /* 0 is for top and bottom. Feel free to change it */
  font-size: 22px;
}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/* #pagiBox{
  width: 100%;
  text-align: center;
  justify-content: center;
} */