html,
body {
  height: 100%;
  width: 100%;
}

header:not(.home-cta), .alert {
  margin-top: 80px;
}

.home-cta {
  background: url('/images/background.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x:hidden!important;
  overflow-y:hidden!important;
}

.home-cta::-webkit-scrollbar {
  display: none;
}

.home-cta::after {
  position: absolute;
  /* background: rgba(0, 0, 0, 0.5); */
  height: 100%;
  width: 100%;
  content: "";
}

.home-cta > h1 {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 10rem;
  text-align: center;
  z-index: 1;
}


/* nav link buttons once logged in */
.dropdown-menu.extraLinks{
  min-width: 8rem!important;
}

.nav-link.extraLinks:hover{
  background-color: antiquewhite;
}

/* .btn.btn-secondary.dropdown-toggle.extraLinks{
  max-height: ;
} */

/* Trade home options */
.row.homeOptionsTwo{
  margin-top: 2vh;
}

.card-body.homeOptionCards{
  min-height: 8vh;
}



/* All player search bars styles below  */
#playerNames.searchBar{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNames2{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNames3{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNames4{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNames5{
  width: 100%;
  text-align: center;
  display: block;
}

#playerNamesO2{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNamesO3{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNamesO4{
  width: 100%;
  text-align: center;
  display: block;
}
#playerNamesO5{
  width: 100%;
  text-align: center;
  display: block;
}

.row.hutCard{
  border-style: solid;
  border-width: 1;
}

.col.hutCardItem{
  font-weight: 600;
}
/* All player search bars styles Above  */



/* The trade type title when making a new offer */
#tradeTypeLable{
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}
/* on the block div */
#tradeTypeDiv{
  display: inline;
  float: left;
}
/* looking for div */
#tradeTypeDiv2{
  display: inline;
  float: right;
}


#tradeTypeForm{
  border-style: solid;
  border-width: 1;
}

/* hides at first */
#cardListItem1{
  display: none;
}

/* coins input box */
#input-txt-bin {
  width: 0;
  transition: width 1s ease-in;
}

#input-txt-bin.active {
  width: 250px;
}

.switch-toggle label:not(.disabled) {
  cursor: pointer;
  color: black;
}

.switch-candy input:checked + label{
  border-style: solid;
  border-width: 3;
}
/* coins input box */


/* hide at first */
.showCard {
  display: none;
}


.showCardNameShow{
  text-align: center;
}



/*  */
.showCardName:hover .showCard {
  display: block;
  z-index: 1000;
  background-color: #f8f8ff;
  font-size: 2vh;
  
}

/* background of div of small info card of players on trade offer pages */
.showCardNameL:hover .showCard {
  display: block;
  z-index: 1000;
  /* background-color:#f8f8ff; */
  font-size: 2vh;
  overflow: hidden;
  
}

/* Background of table of small info card of players on trade offer pages */
.hutCardShortL{
  border-style: solid;
  border-width: 1;
  background-color:#f8f8ff;
  font-size: 1.5vh;
  margin-top: .5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 2em;  
  font-size: .7vw;
}

/* Background of table of big info card of main player on trade offer pages */
.hutCardShort{
  border-style: solid;
  border-width: 1;
  background-color:#f8f8ff;
}



.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-item.onhoverDIO:hover{
  background-color: #DCDCDC;
}

/* this is the players offer box, hidden at first */
#offerForSearch{
  display: none;
}
/* this is the coins offer box, hidden at first */
#offerCoinsForSearch{
  display: none;
}


/* input of coins area on offer pages when offering coins */
#coinsOfferInput{
  width: 100%;
  text-align: center;
  display: block;
}


/* submit button on offer pages when offering players or coins. */
#offerSubmitButton{
  display: none;
}


/* Main displays of the trade tabs on the offer pages. This is changed below */
.tradeTabs{
  width: 5em;
  display: inline-block;
  border-style: solid;
  border-width: 2;
  border-color: #5C5F58;
  border-radius: 5px;
  background-color:#DCE1E3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: .25em;
}

.tradeOfferSlab{
  display: block;
  float: left!important;
  color: green;
}


/* The offer cards to start are off */
.cardTempOfferCard{
  display: none;
}

/* After offer opens, its the players names / coins amount in the offer section */
.cardOfferTitle{
  font-weight: 600;
  text-align: center;
}

/* Style for the Trade Offer Cards on the Show Pages. */
.tradeOfferCards{
  /* color: green; */
  width: 40rem;
  margin: 1.3em;
  /* margin-right: 3em;  */
  float: left;
}
/* Style for the Trade Offer Cards Title on the Show Pages. */
.tradeOfferCardsTitle{
  /* color: green; */
  height: 2.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Style for the Trade Offer Cards Title on the Show Pages. */
.tradeOfferCardsSmallTitle{
  /* color: green; */
  margin-left: 1em;
}

/* Style for the trade talk title text */
.tradeOfferCardsTitleTalk{
  height: 1.25em;
  margin-left: 1em;
}
/* Style for the trade offer title names */
.tradeOfferCardsNames{
  width: 40rem;
  margin: 1.2em;
  margin-top: 1.3em;
  float: left;
}
/* Style for the trade offer title names - when its the users own trade offers */
.tradeOfferCardsNamesMy{
  width: 40rem;
  margin: 1.2em;
  margin-top: 1.3em;
  margin-bottom: 0em;
  float: left;
  border: none;
}
/* Style for the trade offer title names - button styles */
.tradeOfferCardsNamesButton{
  /* color: blue; */
  background-color: #f2f2f2;
  border: 2px solid #dadada;
  border-radius: 7px;
  /* font-size: ; */
  width: 100%;
  height: 2em;

}
.tradeOfferCardsNamesButton:focus{
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}



/* Style for the playerImages on trade block */
.playerImages{
  height: auto;
  width: 50%;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Style for the player names and card type and overall on trade block page  */
.playerNamesInfo{
  font-size: .8em;
  text-align: center;
  height: 3em;
}

hr.playerNamesInfohr{  
  margin-top: .5em;
  margin-bottom: .5em;
}

/* Style for the "BY" name on the trade block */
.byNameTradeBlock{
  font-size: .65em;
}

/* Styling for the full card-body of the player cards on the trade block */
.playerCards{
  padding: .75em;
}

/* Styling for the card text on the tradeblock */
.card-text{
  font-size: .85em;
}
.card-text-time{
  font-size: .65em;
}

/* Style for the outter and full card on trade block */
.card.fullTradeCards{
  width: 20rem;
  height: 31rem;
  margin: 1.3em;
  float: left;
}





/* This style is for the title / looking for ontheblock / on the show pages. */
.card-title-show{
  text-align: center;
}

/* Card name and ovr and type on show pages */
.showCardName{
  text-align: center;
}

/* styles for the requested cards name ovr and type on show pages */
.showCardNameInfo{
  font-size: .90vw;
  white-space: nowrap;
  overflow: scroll; 
  text-align: center;
}

/* style for the play images of the requested cards on the show pages */
.playerImagesRequested{
  height: auto;
  width: 25%;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: left;
  padding-right: .2em;
  margin-bottom: 1em;
}

/* style for the play images of the offered cards on the show pages */
.playerImagesOffer{
  height: auto;
  width: 25%;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: left;
  padding-right: 2em;
  padding-left: 2em;
  margin-bottom: 1em;
}

/* Style for when showing the owner his offers on the show pages */
.card-title-tradeOffers{
  margin-bottom: 0;
  height: 2.25em;
}