<%- include ('../partials/header') %>

<header class="home-cta">
  <!-- <h1>NHL HUT Trader</h1> -->
</header>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<div id="paypal-button"></div>

<div id="paypal-button"></div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>







<%- include ('../partials/footer') %>
