<%- include ('../partials/header') %>

<header >
</header>


<div class="row" id="upgradePageBody"> 
  <div class="col-md-3"> 
  </div> 
  <div class="col-md-6"> 
        <div class = "main">
            <div class="row padder"> 
                <div class="col-md-12"> 
                    <h1 style="text-align: center;">Upgrade Error!</h1>
                    <hr />
                </div> 
                
                
                <div class="card upgradeAccountHeadersSuccess" id="firstCardUpgrade">
                  <h3 class="upgradeAccountHeadersTitleSuccess"><b> There was an error with payment: </b></h3> 
                  <hr> 
                  <p style="text-align: center;"><b> Please try again at a later time... </b></p>
                  <br>
              
              </div>

              
            </div> 
             
         </div>
         <div class="col-md-3"> 
        </div>
  </div> 





<%- include ('../partials/footer') %>
