<%- include ('../partials/header') %>

<header>
  <!-- <h1>NHL HUT Trader</h1> -->
</header>


<script src="https://www.paypalobjects.com/api/checkout.js"></script>


<div class="row" id="upgradePageBody"> 
  <div class="col-md-3"> 
  </div> 
  <div class="col-md-6"> 
        <div class = "main">
            <div class="row padder"> 
                <div class="col-md-12"> 
                    <h1 style="text-align: center;">Upgrade Account</h1>
                    <hr />
                </div> 
                
                
                <div class="card upgradeAccountHeaders" id="firstCardUpgrade">
                  <h3 class="upgradeAccountHeadersTitle"> Pro Account </h3> 
                  <hr> 
                  <b> Upgrade Perks: </b><br> 
                  <p><b> - </b>Help Support the upkeep and development of the site.</p>
                  <br>
                  <p><b> - </b>Unlock the ability to change site stylings from <b>"light mode"</b> to <b>"dark mode"</b></p>
                  <br>
                  <p><b> - </b>Unlock the ability to add upto 12 cards to the trading block. (Originaly: 5 Cards)</p>
                  <br>
                  <p><b> - </b>Unlock the ability to place upto 8 total offers. (Originaly: 3 Offers)</p>
                  <br>
                  <p><b> - </b>Unlock the ability to take part in user polls. These polls will be used in deciding what updates will be worked on next.</p>
                  </a> 
              </div>

              <div class="card upgradeAccountHeaders">
                <h3 class="upgradeAccountHeadersTitle"> Upgrade your account! </h3> 
                <hr> 
               
                <h5 style="text-align: center;">One time payment of</h5> 
                <h5 style="text-align: center;">$6.99(CAD)</h5>
                <h6 style="text-align: center;">per Season</h6>
                <hr>
                
                <h6 style="text-align: center;">(Current Season: NHL21)</h6>
                <p style="text-align: center;"><b>Seasons:</b> Each year when a new NHL game is released the current "Season" is considered over and a new "Season" will begin.</p> 
                <p style="text-align: center;"><b>This upgrade will only last for this current season.</b></p> 
                <hr>
                <a class="upgradeButton" href="/upgradeProcess"> 
                <button class="btn btn-info btn-lg"> Upgrade now for $6.99(CAD) </button> 
                </a> 
            </div>
            </div> 
         </div>
         <div class="col-md-3"> 
        </div>
  </div> 




<%- include ('../partials/footer') %>
